In [1]:
import pandas as pd

In [4]:
df_pro = pd.read_excel('./input/PROTEIN_stoich_curation_2021-05-21.xlsx')
df_pro.index = df_pro.id.to_list()

In [8]:
df_aamap = pd.read_csv('./input/PROTEIN_amino_acid_map.txt', sep='\t')
df_aamap.index = df_aamap.aa_abbv.to_list()

In [17]:
for p in df_pro.index:
    if pd.isnull(df_pro.loc[p, 'MW (g/mmol)']) == False:
        continue
    
    seq = df_pro.sequence[p]
    mw = 0
    for aa in df_aamap.index:
        mw += seq.count(aa) * df_aamap.MW[aa]
    mw = mw / 1000
    print(round(mw,5))

32.18766
45.7717
32.01693
32.93776
33.89172
25.47128
16.79055
29.90511
18.52629
22.04072
19.33188
16.20329
37.51102
27.34299
19.45429
18.17791
35.2905
30.33034
35.0653
42.2998
30.0407
36.31037
10.30704
20.27381
21.95294
8.33591
11.82571
11.06785
42.40241
17.18985
17.48199
16.50972
44.59851
32.34025
16.87217
30.16566
11.63097
12.2157
28.89806
22.54288
18.53438
15.80593
16.1523
27.20958
39.63582
44.64876
45.85753
56.89811
36.08094
14.75153
28.1066
18.37344
31.59228
23.10988
25.69357
16.11494
13.3047
32.09922
14.59954
27.67962
15.21934
19.55846
36.77716
52.37034
12.69521
36.99798
11.30795
15.01415
31.43022
36.09858
38.28403
40.91526
43.19421
57.31435

In [14]:
mw

59.591980000000014

In [9]:
df_aamap.head()

  aa_abbv aa3_abbv        tRNA_in       tRNA_out      MW
A       A      Ala  MET-alatrna_c  MET-trnaala_c   72.09
C       C      Cys  MET-cystrna_c  MET-trnacys_c  158.20
D       D      Asp  MET-asptrna_c  MET-trnaasp_c  115.11
E       E      Glu  MET-glutrna_c  MET-trnaglu_c  115.09
F       F      Phe  MET-phetrna_c  MET-trnaphe_c  104.15

In [10]:
df_pro.head()

,id,gene_src,name,uniprot,subloc_assigned,cofactor_stoich,cofactor_comments,MW (g/mmol),sequence,status
Q0045,Q0045,Q0045,COX1,P00401,mm,"hemegen_c:2,cu2_c:1",Binds 2 heme A groups non-covalently per subun...,59.59198,MVQRWLYSTNAKDIAVLYFMLAIFSGMAGTAMSLIIRLELAAPGSQ...,cofAsgnManual
Q0080,Q0080,Q0080,ATP8,P00856,mm,NaN,NaN,5.36422,MPQLVPFYFMNQLTYGFLLMITLLILFSQFFLPMILRLYVSRLFISKL*,NaN
Q0085,Q0085,Q0085,ATP6,P00854,mm,NaN,NaN,28.12549,MFNLLNTYITSPLDQFEIRTLFGLQSSFIDLSCLNLTTFSLYTIIV...,NaN
Q0105,Q0105,Q0105,COB,P00163,mm,hemegen_c:2,Binds 2 heme b groups non-covalently per subunit.,43.86371,MAFRKSNVYLSLVNSYIIDSPQPSSINYWWNMGSLLGLCLVIQIVT...,cofAsgnManual
Q0130,Q0130,Q0130,OLI1,P61829,mm,NaN,NaN,8.27731,MQLVLAAKYIGAGISTIGLLGAGIGIAIVFAALINGVSRNPSIKDT...,NaN